@font-face {
  font-family: "iconfont"; /* Project id 2844963 */
  src: url('//at.alicdn.com/t/font_2844963_kcyxq9pl9e.woff2?t=1641455711322') format('woff2'),
       url('//at.alicdn.com/t/font_2844963_kcyxq9pl9e.woff?t=1641455711322') format('woff'),
       url('//at.alicdn.com/t/font_2844963_kcyxq9pl9e.ttf?t=1641455711322') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-quxiaozhiding:before {
  content: "\e66e";
}

.icon-tongji:before {
  content: "\e660";
}

.icon-24gl-enter:before {
  content: "\eb6c";
}

.icon-bianji1:before {
  content: "\e600";
}

.icon-chakanliebiao:before {
  content: "\e699";
}

.icon-shanchu:before {
  content: "\e74b";
}
